/* Header */
#header .navbar {
    background: #f4f7f8;
}

/* Menu */
#header #navbarCollapse {
	padding-left: 20px;
}
#header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* #header .ats-menu-primary { */
    /* position: relative; */
/* } */

#header .ats-menu-primary>li {
    padding-left: 0;
}

#header .ats-menu-primary>li {
    height: 100%;
    list-style-type: none;
	/* position: relative; */
}

#header .ats-menu-primary>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    color: #8a9496;
    font-weight: 400;
	padding: 0 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: -.2px;
}

#header .ats-menu-primary .navbar-item {
    font-size: 1.4rem;
}

#header.sticked .ats-menu-primary .navbar-item {
    font-size: 1.3rem;
}

#header .ats-menu-primary .navbar-item {
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -.2px;
}

/* #header .ats-menu-primary li.has-mega-menu>a.navbar-item { */
    /* position: relative; */
/* } */

#header .ats-menu-primary .navbar-item.active {
    color: #008347;
    font-weight: 600;
}

#header .ats-menu-primary>li>a:active,
#header .ats-menu-primary>li>a:focus,
#header .ats-menu-primary>li>a:hover {
    background: transparent;
    color: #008347;
    font-weight: inherit;
}

#header .ats-menu-primary .navbar-item:active,
#header .ats-menu-primary .navbar-item:focus,
#header .ats-menu-primary .navbar-item:hover {
    text-decoration: none;
}

#header .ats-menu-primary li.has-mega-menu ul.mega-menu {
    z-index: 1;
    box-shadow: 0 10px 15px 1px rgba(0, 0, 0, .1);
    margin-bottom: 0;
    position: absolute;
    left: 0;
	right: 0;
    background: #fff;
    padding: 25px;
    list-style: none;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

ul.sub-menu {
    font-size: 16px;
    text-transform: capitalize;
}

.navbar-item:after,
.navbar-item:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#mege-sub-positon-two:after,
#mege-sub-positon-two:before {
    left: 10%;
}

#mege-sub-positon-three:after,
#mege-sub-positon-three:before {
    left: 17%;
}

#mege-sub-positon-four:after,
#mege-sub-positon-four:before {
    left: 23%;
}

#mege-sub-positon-five:after,
#mege-sub-positon-five:before {
    left: 35%;
}

#mege-sub-positon-six:after,
#mege-sub-positon-six:before {
    left: 45%;
}

.navbar-item:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.navbar-item:before {
    border-color: rgba(194, 225, 245, 0);
    /* border-bottom-color: #e9eaea; */
    border-width: 11px;
    margin-left: -11px;
}

#header .ats-menu-primary li.has-mega-menu:hover ul.mega-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#header .ats-menu-primary li.has-mega-menu:hover a:before {
    display: inline-block;
}

#header .ats-menu-primary li.has-mega-menu>a.navbar-item:before {
    display: none;
    width: 10px;
    height: 10px;
    background: #f4f7f8;
    content: "";
    position: absolute;
    bottom: -5px;
    transform: translateX(3px);
    z-index: 2;
    transform: rotate(45deg);
    left: calc(50% - 10px);
}

/* .sub-menu a.button-link {
    margin-left: 20px;
    color: #000;
    text-transform: capitalize;
} */

#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a {
    font-size: 1.8rem;
    color: #8e989a;
    display: block;
    text-transform: capitalize;
}

.sub-menu a {
    color: #d99b9b;
}

.sub-menu a:hover {
    font-weight: 900;
}

#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a.active,
#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a:active,
#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a:focus,
#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a:hover {
    text-decoration: none;
    color: #008347;
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    #header .ats-menu-primary {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* #header .ats-menu-primary li.has-mega-menu ul.mega-menu { */
        /* width: 70vw; */
    /* } */
}

/* Right function */
#header.sticked .ats-function {
    padding-left: 40px;
    flex-grow: 0.5;
}

.ats-function .navbar-sticky {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ats-function .icon-func {
    font-size: 20px;
    color: #000000b5;
}

.lang {
    border: 1px solid black;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 15px;
    color: #8d9496;
}

/* Dropdown function */
div#action-menu-user svg {
    margin-right: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -77px;
    background-color: #fff;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 15px;
    top: 100%;
}

.dropdown-content:after,
.dropdown-content:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.notifi.dropdown-content:after,
.notifi.dropdown-content:before {
    left: 77%!important;
}

.function-search.dropdown-content:after,
.function-search.dropdown-content:before {
    left: 79%!important;
}

.dropdown-content:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.dropdown-content:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}

.navbar-sticky li.dropdown {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content a {
    color: black;
    padding: 7px 15px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ats-function {
    flex-grow: .5;
    height: 66px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.function-search {
    width: 420px;
}
input#selector-mobile:focus {
    outline: none;
    box-shadow: none;
}
input#selector-mobile {
    font-size: 17px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Mobile */
@media (max-width: 767px) {
    button.navbar-toggler.collapsed {
        font-size: 20px;
    }

    .ats-function .navbar-sticky {
        justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 966px) {
    a.navbar-brand.ats-logo-fe {
        background-size: 80%;
    }
    a.navbar-item {
        font-size: 8px!important;
    }
}

@media (min-width: 1920px) {
    div#navbarCollapse, a.navbar-brand.ats-logo-fe {
        margin-left: 10%;
    }

    img#logo-tc {
        margin-right: 10%;
    }
}

/* Notification */
a.dropdown-item svg {
    margin: 0px 7px -2px;
}

span.badge.badge-primary {
    position: relative;
    bottom: 15px;
    left: 20px;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    span.badge.badge-primary {
        font-size: 13px;
    }

    .icon-function {
        margin-left: 10px;
    }

    .func.dropdown-menu.noti-dropdown.show {
        position: absolute;
        left: -50px;
    }

    .func.dropdown-menu.search-dropdown.table-responsive.show {
        position: absolute;
        left: -90px;
        width: 18em;
    }

    ul.list-group.notification {
        width: 19rem !important;
    }
}

ul.list-group.notification {
    width: 25em;
}

li.list-group-item.item-noti {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.w-12 {
    width: 12% !important;
}

.content-noti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10px;
    margin-left: 25px;
}

li.list-group-item.item-noti:hover {
    color: black;
}

span.time-noti {
    color: #00000091;
}

li.list-group-item.item-noti.seen {
    background-color: #0000ff0a;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid #d8d8d85c;
}

li.list-group-item.item-noti {
    cursor: pointer;
    border-bottom: 1px solid #d8d8d85c;
	font-weight: 400;
}

.dropdown-content h5.ml-3 {
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
}

ul.sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}