.curriculum {
	position: relative;
	padding: 30px 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.curriculum #curriculum-bg {
	background-image: url("../images/bg4.png");
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 0;
	position: absolute;
	z-index: -1;
	right: 0;
	left: 0;
	top: 0;
	-webkit-animation: updown 1s infinite alternate;
	animation: updown 1s infinite alternate;
}

.curriculum ul#tab-curriculum {
	margin: 0 auto;
	font-size: 1.6rem;
}

.curriculum ul#tab-curriculum .nav-link {
	padding: 10px;
}

.curriculum table#yui_3_17_2_1_1596430403574_31 {
	background-color: #efeef7b0;
	box-shadow: 0px 5px 20px #c5c4c4;
	margin: 0 auto;
}

.curriculum .generaltable th {
	border: 1px solid #e8d7d6 !important;
	text-align: center;
	vertical-align: middle;
	background-color: #f4e1e2 !important;
	font-size: 15px;
}

.curriculum .generaltable td {
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid #ddd;
}



.curriculum .generaltable td.program {
	text-align: left;
	vertical-align: middle;
	color: #292e2f;
	font-family: Nunito Sans, serif;
	font-size: 1.6rem;
}

.btn-link {
	color: #888888;
	border: 1px solid #888888;
	padding: 3px 4.5px;
	margin: 0px 4px;
}

.btn-link:hover {
	color: #ffffff;
	border: 1px solid #888888;
	background-color: #888888;
}

.btn-rate {
	color: #e0a800;
	border: 1px solid #e0a800;
	padding: 3px 4.5px;
	margin: 0px 4px;
	display: none;
}

.btn-rate:hover {
	color: #ffffff;
	border: 1px solid #e0a800;
	background-color: #e0a800;
}

.btn-report {
	color: #008445;
	border: 1px solid #008445;
	padding: 3px;
	margin: 0px 4px;
	display: none;
}

.btn-report:hover {
	color: #ffffff;
	border: 1px solid #008445;
	background-color: #008445;
}

@media (max-width: 800px) {

	.generaltable td {
		padding: 2px;
	}

	.generaltable td .btn-success {
		padding: 2px 5px;
		font-size: 11px;
	}

	.generaltable th {
		font-size: 12px;
	}
}

.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
	border: 1px solid #5cb85c !important;
}

i.fa.fa-arrow-right {
	color: #5cb85c;
}

a.btn.btn-outline-success.btn-outline:hover i {
	color: #fff !important;
}

svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
	color: #4dcf55;
}

/* Rounded tabs */

@media (min-width: 576px) {
	.rounded-nav {
		border-radius: 50rem !important;
	}
	.rounded-nav .nav-link {
		border-radius: 50rem !important;
	}
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	background-color: #22b773 !important;
	color: #fff !important;
}