/* Slider */
.slider--tab.slider--menu-collapse {
    margin: 0 -15px;
}

.slider-home .slider-tab-content {
    margin-bottom: 15px;
    padding-top: 15px;
}

.slider .nav-tab__content .tab-pane.active {
    visibility: inherit;
}

.nav-tab__content .tab-pane.active {
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: inherit;
}

.slider .nav-tab__content .tab-pane {
    height: auto;
}

.nav-tab__content .tab-pane {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.scroll-content, .timeline-wrap__right_content {
    padding-top: 15px;
}

#scroll-customize::-webkit-scrollbar {
    width: 8px;
    background: #dde6e8;
}

#scroll-customize::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ccc;
    background-color: #b5bec1;
}

#scroll-customize::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 10px;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .slider--tab.slider--menu-collapse {
        margin: 0;
    }

    .slider-tab-content {
        padding: 15px 0 0;
    }
}

@media screen and (min-width: 992px) {
    .slider-wrap__left {
        padding-right: 12px;
    }

    .timeline-wrap__right {
        padding-left: 4px;
    }

    .scroll-content {
        overflow-y: scroll;
        height: 420px;
        padding-top: 0;
    }
    .timeline-wrap__right_content{
        height: 420px;
        padding-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .scroll-content {
        height: 430px;
        scrollbar-width: thin;
        scrollbar-color: #dde6e8 #f4f7f8;
    }

    .timeline-wrap__right_content{
        height: 472px;
    }
}

.fp-tableCell {
    height: 40vh !important;
}

.carousel-control-next,
.carousel-control-prev {
    z-index: 2 !important;
}

img.d-block.w-100 {
    background-size: contain;
    height: 300px;
}

.carousel-inner {
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

i.carousel-control{
    font-size: 3em;
}

.carousel-indicators li {
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%;
}