/* Header */
#header .navbar {
    background: #f4f7f8;
}

/* Menu */
#header #navbarCollapse {
	padding-left: 20px;
}
#header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* #header .ats-menu-primary { */
    /* position: relative; */
/* } */

#header .ats-menu-primary>li {
    padding-left: 0;
}

#header .ats-menu-primary>li {
    height: 100%;
    list-style-type: none;
	/* position: relative; */
}

#header .ats-menu-primary>li>a {
    height: 100%;
    display: flex;
    align-items: center;
    color: #8a9496;
    font-weight: 400;
	padding: 0 10px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: -.2px;
}

#header .ats-menu-primary .navbar-item {
    font-size: 1.4rem;
}

#header.sticked .ats-menu-primary .navbar-item {
    font-size: 1.3rem;
}

#header .ats-menu-primary .navbar-item {
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -.2px;
}

/* #header .ats-menu-primary li.has-mega-menu>a.navbar-item { */
    /* position: relative; */
/* } */

#header .ats-menu-primary .navbar-item.active {
    color: #008347;
    font-weight: 600;
}

#header .ats-menu-primary>li>a:active,
#header .ats-menu-primary>li>a:focus,
#header .ats-menu-primary>li>a:hover {
    background: transparent;
    color: #008347;
    font-weight: inherit;
}

#header .ats-menu-primary .navbar-item:active,
#header .ats-menu-primary .navbar-item:focus,
#header .ats-menu-primary .navbar-item:hover {
    text-decoration: none;
}

#header .ats-menu-primary li.has-mega-menu ul.mega-menu {
    z-index: 1;
    box-shadow: 0 10px 15px 1px rgba(0, 0, 0, .1);
    margin-bottom: 0;
    position: absolute;
    left: 0;
	right: 0;
    background: #fff;
    padding: 25px;
    list-style: none;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

ul.sub-menu {
    font-size: 16px;
    text-transform: capitalize;
}

#mege-sub-positon-two:after,
#mege-sub-positon-two:before {
    left: 10%;
}

#mege-sub-positon-three:after,
#mege-sub-positon-three:before {
    left: 17%;
}

#mege-sub-positon-four:after,
#mege-sub-positon-four:before {
    left: 23%;
}

#mege-sub-positon-five:after,
#mege-sub-positon-five:before {
    left: 35%;
}

#mege-sub-positon-six:after,
#mege-sub-positon-six:before {
    left: 45%;
}

.navbar-item:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

#header .ats-menu-primary li.has-mega-menu:hover ul.mega-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#header .ats-menu-primary li.has-mega-menu:hover a:before {
    display: inline-block;
}

#header .ats-menu-primary li.has-mega-menu>a.navbar-item:before {
    display: none;
    width: 10px;
    height: 10px;
    background: #f4f7f8;
    content: "";
    position: absolute;
    bottom: -5px;
    transform: translateX(3px);
    z-index: 2;
    transform: rotate(45deg);
    left: calc(50% - 10px);
}

/* .sub-menu a.button-link {
    margin-left: 20px;
    color: #000;
    text-transform: capitalize;
} */

#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a {
    font-size: 1.8rem;
    color: #8e989a;
    display: block;
    text-transform: capitalize;
}

.sub-menu a {
    color: #d99b9b;
}

.sub-menu a:hover {
    font-weight: 900;
}

#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a.active,
#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a:active,
#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a:focus,
#header .ats-menu-primary li.has-mega-menu ul.mega-menu>li>a:hover {
    text-decoration: none;
    color: #008347;
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    #header .ats-menu-primary {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* #header .ats-menu-primary li.has-mega-menu ul.mega-menu { */
        /* width: 70vw; */
    /* } */
}

/* Right function */
#header.sticked .ats-function {
    padding-left: 40px;
    flex-grow: 0.5;
}

.ats-function .navbar-sticky {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
	width: 90%;
}

.ats-function .icon-func {
    font-size: 20px;
    color: #000000b5;
}

.lang {
    border: 1px solid black;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 15px;
    color: #8d9496;
}

/* Dropdown function */
div#action-menu-user svg {
    margin-right: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -77px;
    background-color: #fff;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 15px;
    top: 100%;
}

.dropdown-content:after,
.dropdown-content:before {
    bottom: 100%;
    left: 47%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.notifi.dropdown-content:after,
.notifi.dropdown-content:before {
    left: 75%!important;
}

.function-search.dropdown-content:after,
.function-search.dropdown-content:before {
    left: 78%!important;
}

.dropdown-content:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.dropdown-content:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}

.navbar-sticky li.dropdown {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 10%;
	margin-left: auto;
}

.dropdown-content a {
    color: black;
    padding: 7px 15px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ats-function {
    flex-grow: 0.3;
    height: 66px;
    margin-left: auto;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.function-search {
    width: 420px;
}
input#selector-mobile {
    font-size: 17px;
    padding: 10px;
}

.suggestion {
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
    justify-content: flex-start;
    padding-right: 20px;
    margin-top: 20px;
}

span.suggestion-item {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.suggestion span.suggestion-item.badge-primary {
    color: #544d4d;
    background-color: #68df8c;
}

.suggestion span.suggestion-item.badge-primary:hover {
    background-color: #31e868;
}

/* Notification */
a.dropdown-item svg {
    margin: 0px 7px -2px;
}

span.badge.badge-primary {
    position: relative;
    bottom: 15px;
    left: 20px;
    z-index: 1;
}

.noti-dot:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    background: #ff6877;
}

ul.list-group.notification {
    width: 25em;
    overflow-y: scroll;
    max-height: 400px;
}

ul.list-group.notification li i.fad { 
    font-size: 35px;
    --fa-primary-opacity: 1.0;
    --fa-secondary-opacity: 1;
}

ul.list-group.notification li i.fad.fa-exclamation-triangle { 
    --fa-primary-color: #546141;
    --fa-secondary-color: #7bda70;
}

ul.list-group.notification li i.fad.fa-exclamation-circle { 
    --fa-primary-color: #7477c1;
    --fa-secondary-color: #b7b6ff;
}

ul.list-group.notification li i.fa-envelope-open-text { 
    --fa-primary-color: #26724c;
    --fa-secondary-color: #e4ccd2;
}

ul.list-group.notification::-webkit-scrollbar {
    width: 5px;
    background: #dde6e8;
}

ul.list-group.notification::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ccc;
    background-color: #b5bec1;
}

ul.list-group.notification::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 10px;
    background-color: #fff;
}

li.list-group-item.item-noti {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.w-12 {
    width: 12% !important;
}

.content-noti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10px;
}

li.list-group-item.item-noti:hover {
    color: black;
}

span.time-noti {
    color: #00000091;
}

li.list-group-item.item-noti.seen {
    background-color: #0000ff0a;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid #d8d8d85c;
}

li.list-group-item.item-noti {
    cursor: pointer;
    border-bottom: 1px solid #d8d8d85c;
	font-weight: 400;
}

.dropdown-content h5.ml-3 {
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
}

ul.sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

ul.row.mega-menu:before, 
ul.row.mega-menu:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.has-mega-menu:first-child ul.row.mega-menu:before, 
.has-mega-menu:first-child ul.row.mega-menu:after {
    left: 16%;
}

.has-mega-menu:nth-child(2) ul.row.mega-menu:before, 
.has-mega-menu:nth-child(2) ul.row.mega-menu:after {
    left: 21%;
}

.has-mega-menu:nth-child(3) ul.row.mega-menu:before, 
.has-mega-menu:nth-child(3) ul.row.mega-menu:after {
    left: 27%;
}

ul.row.mega-menu:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}



.megamenu .nav-tabs {
  display: flex;
  border-bottom: none;
  /*padding-top: 15px;*/
  font-weight: bold;
  flex-direction: column;
  flex-wrap: nowrap;
}

.megamenu .nav-tabs>li{
	float: none; 
	padding-left: 10px; 
	cursor: pointer;
}

.tab-content>.active {
    display: flex!important;
    flex-wrap: wrap;
}

.megamenu .nav-tabs > li > a, 
.megamenu .nav-tabs > li > a:hover, 
.megamenu .nav-tabs > li > a:focus, 
.megamenu .nav-tabs > li.active > a, 
.megamenu .nav-tabs > li.active > a:hover,
.megamenu .nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.megamenu .nav-list {   
	margin-bottom: 25px;
}

.megamenu .nav-list > li { 
  display: block;
}

.megamenu .nav-list > li > a:hover { 
	text-decoration: none; 
}

.megamenu .nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.megamenu .mega-dropdown { 
	position: block; 
}

.megamenu .mega-dropdown-menu {
	display: none;
	top: 90%;
    padding: 20px;
    text-align: center;
    width: 98vw;
    font-size: medium;
    border: none;
    box-shadow: 5px 5px 10px #bf9b9b;
    margin: 0 7px;
	border-top: 5px solid #92bdab;
	padding-left: 15px;
}

.mega-dropdown .navbar-item:after {
	top: 100%;
	left: -50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: relative;
	pointer-events: none;
	display: none;
}

.mega-dropdown .navbar-item:after {
	border-color: rgba(138, 148, 150, 0);
	border-top-color: #8a9496;
	border-width: 10px;
	margin-left: -10px;
}

/* .parent-menu.active a { */
    /* color: #1e211e!important; */
/* } */

.parent-menu.active a {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.5s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.parent-menu a {
    padding: 3px;
}

.mega-dropdown .navbar-item {
    height: 100%;
    display: flex;
    align-items: center;
    color: #8a9496;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -.2px;
    cursor: pointer;
}

ul.nav-list.list-inline {
    margin-left: 10px!important;
}

.megamenu .ht-ul {
    text-align: left;
    margin-bottom: 30px;
}

ul.nav-list.list-inline li a {
    color: #8a9496;
}

.ht-ul h4 {
    font-weight: bolder;
    color: #038547;
	text-transform: uppercase;
}

li.parent-menu.active {
    background-color: aquamarine;
}

#menu-bg {
	position: absolute;
	background-image: url([[pix:theme|menu-bg]]);
	right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
	background-size: contain;
    background-repeat: no-repeat;
	transform: scaleX(-1);
}

/*=======================*/

.col-md-3.col-sm-3.ht-tab{
	padding: 0;
	border-right: 3px solid #7fffd4;
	max-height: 85vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.col-md-3.col-sm-3.ht-tab::-webkit-scrollbar,
.megamenu .ht-tab.col-md-10::-webkit-scrollbar {
  display: none;
}

.megamenu .ht-tab.col-md-10{
	padding: 0;
	max-height: 85vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.megamenu .ht-ul{
	text-align: left;
}

.nav .nav-tabs li a {
    font-size: 17px;
    line-height: 40px;
    color: #000;
    float: left;
	font-weight: 500;
	cursor: pointer!important;
}

/* .mega-dropdown-menu:after, .mega-dropdown-menu:before { */
    /* bottom: 100%; */
    /* left: 42px; */
    /* border: solid transparent; */
    /* content: " "; */
    /* height: 0; */
    /* width: 0; */
    /* position: absolute; */
    /* pointer-events: none; */
/* } */

/* .mega-dropdown-menu:after { */
    /* border-color: rgba(255, 255, 255, 0); */
    /* border-bottom-color: #fff; */
    /* border-width: 10px; */
    /* margin-left: -10px; */
/* } */

/* .mega-dropdown-menu:before { */
    /* border-color: rgba(255, 255, 255, 0); */
    /* border-bottom-color: #fff; */
    /* border-width: 10px; */
    /* margin-left: -10px; */
/* } */

.hvr-icon-wobble-horizontal i.fa.fa-arrow-right.hvr-icon.mr-2 {
    color: #6d6d6d;
    font-size: 13px;
}

.dropdown:hover .mega-dropdown {
    display: block;
}

.ht-ul a {
    display: flex;
	align-items: baseline;
}

.nav-list li a {
    display: flex;
    align-items: center;
}

li.parent-menu {
    text-align: left;
}

.megamenu, 
.megamenu .dropdown {
    position: initial!important;
}

@media screen and (max-width: 1169px){
	.megamenu .nav-tabs{display: block;}

	.megamenu .mega-dropdown-menu{width: 100%;}
	.megamenu .nav>li, .mega-dropdown, .dropdown{position: unset;}

}
@media screen and (max-width: 1023px){
	.megamenu .ht-tab.col-md-2, .ht-tab.col-md-10 {float: left !important;}
	.megamenu .ht-tab.col-md-2{width: 20%;}
	.megamenu .ht-tab.col-md-10{width: 80%;}
	.megamenu .ht-ul{float: left;}
}