section.section.school {
    position: relative;
    margin-top: 75px;
    height: 85vh;
}

.block-school {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materials {
    background-image: radial-gradient(115% 80% at top left, transparent 90%, #fff 95.5%), linear-gradient(to right bottom, #39df9c, #3adb89, #40d675, #48d160, #51cc48);
    height: 300px;
}

.materials:hover {
    box-shadow: 10px 10px 20px #cec7c7;
}

span.content-item {
    background-color: #f0ffffde;
    box-shadow: 10px 10px 10px #abababcc;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
}

h4.card-title.text-center.source-name {
    margin-top: 15px;
    font-family: Nunito Sans, serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
}

#school-bg {
    background-image: url(../images/school2.png);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    opacity: 0.3;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0px;
}

#wave-school {
    /* background-image: url("../images/bg2.svg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(-1);
    margin-top: -75px;
    background-color: #f4f7f8;
    background-image: linear-gradient(to bottom, #f4f7f8 0%, #f6f6f6 50%, rgb(255 255 255) 100%);
}

.school .container .card-desk {
    height: 300px;
}

.nav-link {
    color: #008347!important;
}

.block-sources.materials {
    border: none;
    box-shadow: 10px 5px 15px #dbd5d5;
    border-radius: 10px;
}



.block-school {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 20px 30px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 240px;
  transition: all 0.3s;
  top: 5%;
}

.school-left {
  float: left;
  left: 10%;
}

.school-right {
  float: right;
  left: -10%;
  margin-top: 40px;
}

.block-school-item {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .block-school-item {
    flex-direction: column;
  }
}
.block-school-title {
  width: 300px;
  flex-shrink: 0;
  height: 170px;
  background-image: linear-gradient(to right, #81b4c9, #34e89e);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  position: relative;
}
.bg-network {
  background-image: url("../images/network.png");
  position: absolute;
  width: 140%;
  bottom: 0;
  top: 0;
  opacity: 0.2;
}
.block-school-title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(115% 80% at top left, transparent 90%, #fff 95.5%), linear-gradient(to right bottom, #39df9c, #3adb89, #40d675, #48d160, #51cc48); */
  border-radius: 20px;
  opacity: 0.8;
}

.school-left .block-school-title {
  transform: translateX(-80px);
}

.school-right .block-school-title {
  transform: translateX(80px);
}

.block-school-content {
  display: flex;
  flex-wrap: wrap;
}

.block-school-item-link {
  display: inline-flex;
  /* background-image: linear-gradient(to right, #34e89e, #8fc4da); */
  padding: 15px 35px;
  border-radius: 50px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  letter-spacing: 3px;
  background-color: #96e7cd;
}
.block-school-item-link:hover {
  color: #000;
}
